*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    width: 80%;
    margin: 0 auto;
}

.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
    
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #bb0b63;
    text-decoration: none;
}
a:hover{
    color: #35096e;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 15px;
}
.btn-primary{
    background-color: #f0b6c0;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #35096e;
}
h1 {
    text-align: center;
    margin: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    width: 700px;
    color: #2f3542;
  }
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    float: left;
    width: 9%;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding-left: 1%;
    font-weight: bold;
    padding-right: 3%;
}





/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
}


/* CSS for Categories */
.categories{
    /*background-image: url(../images/bg6.jpg);*/
    
    background-color:  #F1E8E6;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
    display: -ms-grid;
    display: grid;
    -webkit-box-shadow: 0px 17px 34px -20px #fa7193;
            box-shadow: 0px 17px 34px -20px #fa7193;
    
}



/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}

.box-3:hover{
    filter:saturate(1);
    filter: blur(0px);
    transform:scale(1.1);
    transition: 300ms all;
}
/**/
